
@{
    Layout = null;
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Best Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/BestStore/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/BestStore/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/BestStore/jquery-ui.min.js"></script>

    <script src="~/Scripts/angular.js"></script>

    <!-- //js -->
    <!-- cart -->
    <script src="~/Scripts/ngCart.js"></script>


    <script src="~/Scripts/ngCart.fulfilment.js"></script>
    <script src="~/Scripts/ngCart.directives.js"></script>
    <script>
        var myApp = angular.module('myApp', ['ngCart']);
        myApp.controller('myCtrl', ['$scope', '$http', 'ngCart', function ($scope, $http, ngCart) {
            ngCart.setTaxRate(7.5);
            ngCart.setShipping(2.99);
        }]);
    </script>
    @*<script src="~/Scripts/BestStore/simpleCart.min.js"></script>*@

    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/Scripts/BestStore/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- timer -->
    <link rel="stylesheet" href="~/Content/BestStore/jquery.countdown.css" />
    <!-- //timer -->
    <!-- animation-effect -->
    <link href="~/Content/BestStore/animate.min.css" rel="stylesheet">
    <script src="~/Scripts/BestStore/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <!-- //animation-effect -->
</head>

<body ng-app="myApp">
    <div ng-controller="myCtrl">
        <!-- header -->
        <div class="header navbar-fixed-top" style="background-color: white">
            <div class="container">
                <div class="header-grid" style="padding:0.25em 0">
                    <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                        <ul>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com"></a></li>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
                            @if (Session["UserID"] != null)
                            {
                                <li>
                                    <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>
                                    <a href="login.html">Hello @Session["UserName"]</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <i class="glyphicon glyphicon-log-in" aria-hidden="true">


                                    </i>@Html.ActionLink("Login", "Login", "Index")
                                </li>
                            }

                            <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i>@Html.ActionLink("Register", "Register", "Index")</li>
                        </ul>
                    </div>
                    <div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
                        <ul class="social-icons">
                            <li><a href="#" class="facebook"></a></li>
                            <li><a href="#" class="twitter"></a></li>
                            <li><a href="#" class="g"></a></li>
                            <li><a href="#" class="instagram"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="logo-nav" style="padding:0.25em 0">
                    <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                        <h1>
                            <a href=@Url.Action("Index", "Index")>Best Store <span>Shop anywhere</span></a>
                        </h1>
                    </div>
                    <div class="logo-nav-left1">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header nav_2">
                                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href=@Url.Action("Index", "Index") class="act">Home</a></li>
                                    <!-- Mega Menu -->
                                    <li class="dropdown">
                                        <a href=@Url.Action("ProductList", "Index") class="act">Products </a>


                                    <li><a href=@Url.Action("Index", "Index")>Mail Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="logo-nav-right">
                        <div class="search-box">
                            <div id="sb-search" class="sb-search">
                                <form>
                                    <input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
                                    <input class="sb-search-submit" type="submit" value="">
                                    <span class="sb-icon-search"> </span>
                                </form>
                            </div>
                        </div>
                        <!-- search-scripts -->
                        <script src="~/Scripts/BestStore/classie.js"></script>
                        <script src="~/Scripts/BestStore/uisearch.js"></script>
                        <script>
                            new UISearch(document.getElementById('sb-search'));
                        </script>
                        <!-- //Html.ActionLink("Login", "Index") -->
                    </div>
                    <div class="header-right">
                        <div class="cart box_1">

                            <a href=@Url.Action("CheckOut", "Index")>
                                <h3>
                                    <div class="total">
                                        <ngcart-summary></ngcart-summary>
                                    </div>
                                    <img src="~/images/bag.png" alt="" />
                                </h3>
                            </a>
                            <p>

                            </p>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //header -->
        <!-- banner -->
        <!-- //banner -->
        <!-- banner-bottom -->
        @RenderBody()
        <!-- //banner-bottom -->
        <!-- collections -->
        <!-- //collections -->
        <!-- new-timer -->
        <!-- //new-timer -->
        <!-- collections-bottom -->
        <!-- //collections-bottom -->
        <!-- footer -->
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                    <h3>About Us</h3>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>
                            Excepteur sint occaecat cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit.
                        </span>
                    </p>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                    <h3>Contact Info</h3>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
                    <h3>Flickr Posts</h3>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/13.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/14.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/15.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/16.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/13.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/14.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/15.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/16.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/13.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/14.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/15.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="footer-grid-left">
                        <a href="single.html"><img src="~/images/16.jpg" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
                    <h3>Blog Posts</h3>
                    <div class="footer-grid-sub-grids">
                        <div class="footer-grid-sub-grid-left">
                            <a href="single.html"><img src="~/images/9.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-sub-grid-right">
                            <h4><a href="single.html">culpa qui officia deserunt</a></h4>
                            <p>Posted On 25/3/2016</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="footer-grid-sub-grids">
                        <div class="footer-grid-sub-grid-left">
                            <a href="single.html"><img src="~/images/10.jpg" alt=" " class="img-responsive" /></a>
                        </div>
                        <div class="footer-grid-sub-grid-right">
                            <h4><a href="single.html">Quis autem vel eum iure</a></h4>
                            <p>Posted On 25/3/2016</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
                <h2>
                    <a href="index.html">Best Store <span>shop anywhere</span></a>
                </h2>
            </div>
            <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
                <p>
                    &copy 2016 Best Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a>
                </p>
            </div>
        </div>
    </div>
    <!-- //footer -->
</body>
</html>

<script type="text/ng-template" id="template/ngCart/addtocart.html">
    <div ng-hide="attrs.id">
        <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

    </div>
    <div ng-show="attrs.id">
        <div>
            <span ng-show="quantityMax">
                <select name="quantity" id="quantity" ng-model="q"
                        ng-options=" v for v in qtyOpt"></select>
            </span>
            <a class="btn btn-sm btn-primary" style="background-color: orangered;color:white"
               ng-click="ngCart.addItem(id, name, price, q, data)"
               ng-transclude><b></b></a><span ng-show="inCart()">
    <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
</span>
            
        </div>
       
    </div>
</script>


<script type="text/ng-template" id="template/ngCart/summary.html">
    <div class="row">

        <div class="col-md-6">
            {{ ngCart.getTotalItems() }}
            <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
            <br />{{ ngCart.totalCost() | currency }}
        </div>
    </div>
</script>


<script type="text/ng-template" id="template/ngCart/cart.html">
    <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
        Your cart is empty
    </div>

    <div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

        <table class="table table-striped ngCart cart">

            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tfoot>
                <tr ng-show="ngCart.getTax()">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
                    <td>{{ ngCart.getTax() | currency }}</td>
                </tr>
                <tr ng-show="ngCart.getShipping()">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Shipping:</td>
                    <td>{{ ngCart.getShipping() | currency }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total:</td>
                    <td>{{ ngCart.totalCost() | currency }}</td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="item in ngCart.getCart().items track by $index">
                    <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

                    <td>{{ item.getName() }}</td>
                    <td>
                        <span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                              ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                        {{ item.getQuantity() | number }}&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span>
                    </td>
                    <td>{{ item.getPrice() | currency}}</td>
                    <td>{{ item.getTotal() | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</script>





<script type="text/ng-template" id="template/ngCart/checkout.html">


    <div ng-if="service=='http' || service == 'log'">
        <button class="btn btn-primary md-primary btn-info md-raised" ng-click="checkout()"ng-disabled="!ngCart.getTotalItems()" ng-transclude style="background-color: orangered;color:white" data-target="#myModal" data-toggle="modal"></button></div>
   
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Buy Now</h4>
                </div>
                <div class="modal-body">
                    <ul ng-repeat="item in ngCart.getCart().items track by $index">You will buy: <ul style="font-weight: bold"> {{ item.getName() }}</ul> </ul>
                </div>
                <a href="@Url.Action("ProductList", "Index")"><button type="button" class="col-md-offset-10 btn btn-primary" style="background-color: orangered;color:white">Buy</button></a>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div ng-if="service=='paypal'">

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="{{ settings.paypal.business }}">
            <input type="hidden" name="lc" value="CA">
            <input type="hidden" name="item_name" value="{{ settings.paypal.item_name }}">
            <input type="hidden" name="item_number" value="{{ settings.paypal.item_number }}">
            <input type="hidden" name="amount" value="{{ ngCart.getSubTotal()}}">
            <input type="hidden" name="currency_code" value="{{ settings.paypal.currency_code }}">
            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}">
            <input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}">
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div>

</script>

<style>
    hr {
        margin: 40px 0;
    }

    h3 {
        color: #1758AA;
    }

    h3 span {
        font-size: 14px;
        display: block;
    }

    span[ng-click] {
        cursor: pointer;
    }
</style>
