@model System.Data.Entity.DbSet<BestStore.Models.PRODUCT>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductList</h2>




<!-- header -->
<!-- //header -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Products</li>
        </ol>
    </div>
</div>
<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
                <h3>Filter By Price</h3>
                <ul class="dropdown-menu1">
                    <li>
                        <a href="">
                            <div id="slider-range"></div>
                            <input type="text" id="amount" style="border: 0" />
                        </a>
                    </li>
                </ul>
                <script type='text/javascript'>
                    //<![CDATA[
                    $(window).load(function () {
                        $("#slider-range").slider({
                            range: true,
                            min: 0,
                            max: 100000,
                            values: [20000, 80000],
                            slide: function (event, ui) {
                                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                            }
                        });
                        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));


                    });//]]>
                </script>

                <!---->
            </div>
            <div class="categories animated wow slideInUp" data-wow-delay=".5s">
                <h3>Categories</h3>
                @foreach (var item in Model)
                {<ul class="cate">

                    <li><a href="products.html">@Html.DisplayFor(modelItem => item.CATEGORYNAME)</a> <span>(16)</span></li>
                </ul>


                }
            </div>


        </div>
        <div class="col-md-8 products-right">
            <div class="products-right-grid">
                <div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
                    <div class="sorting">
                        <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null">Default sorting</option>
                            <option value="null">Sort by popularity</option>
                            <option value="null">Sort by average rating</option>
                            <option value="null">Sort by price</option>
                        </select>
                    </div>
                    <div class="sorting-left">
                        <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null">Item on page 9</option>
                            <option value="null">Item on page 18</option>
                            <option value="null">Item on page 32</option>
                            <option value="null">All</option>
                        </select>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">

                    <div class="products-right-grids-position1">
                        <h4>2016 New Collection</h4>
                        <p>
                            Temporibus autem quibusdam et aut officiis debitis aut rerum
                            necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae
                            non recusandae.
                        </p>
                    </div>
                </div>
            </div>


            <div class="products-right-grids-bottom">
                @foreach (var item in Model)
            {
                 
                    <div class="col-md-4 products-right-grids-bottom-grid">
                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                @{
                                    var base64 = Convert.ToBase64String(item.IMAGENAME);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                }
                                <a href="single.html" class="product-image"><img src="@imgSrc" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="@Url.Action("Product", "Index", new { id = item.PRODUCTID })">Quick View</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">

                                </div>
                            </div>
                            <h4><a href="single.html">@Html.DisplayFor(modelItem => item.CATEGORYNAME)</a></h4>
                            <p>@Html.DisplayFor(modelItem => item.CATEGORYNAME).</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-3">
                                        <h4>@Html.DisplayFor(modelItem => item.PRODUCTNAME)</h4>
                                        <p> @Html.DisplayFor(modelItem => item.PRICE)</p>
                                    </div>


                                </div>
                             
                            </div>
                            <ngcart-addtocart id="@Html.DisplayFor(modelItem => item.PRODUCTID)" name="@Html.DisplayFor(modelItem => item.PRODUCTNAME)" price="@Html.DisplayFor(modelItem => item.PRICE)" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                        </div>
                   
                    </div>

                                    }

                <div class="clearfix"> </div>
            </div>
            <nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
                <ul class="pagination paging">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //breadcrumbs -->



<style>
    hr {
        margin: 40px 0;
    }

    h3 {
        color: #1758AA;
    }

        h3 span {
            font-size: 14px;
            display: block;
        }

    span[ng-click] {
        cursor: pointer;
    }
</style>
